.benefits
    padding: 20px 0
    background-color: white
    .section-title
        color: #002F6C
        font-size: 2.1rem
        margin-bottom: 5%
        font-weight: bold
        font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif
    .benefits-container
        display: flex
        width: 95%
        justify-content: space-around
        .benefit-card
            text-align: left
            padding: 10px
            display: flex
            flex-direction: row
            gap: 20px
            .benefit-icon
                font-size: 50px
                align-content: center
            > hr
                color: #000000
            .benefits-txt
                align-content: center
                > h3
                    font-size: 1.5rem
                    margin-bottom: 15px
                    color: #000000
                    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif
                > p
                    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif
                    color: #A9AAAA
