html,
body {
  margin: 0;
  padding: 0;
  width: 100%;
  overflow-x: hidden;
}

* {
  box-sizing: border-box;
}

#root {
  width: 100%;
  margin: 0;
  top: 0;
  left: 0;
  padding: 0;
  text-align: center;
}

.layout-container {
  top: 0;
  left: 0;
}

html {
  scroll-behavior: smooth;
}
